[Unit]
Description=ledbrick
After=network.target

[Service]
ExecStart=/usr/local/bin/ledbrick  -config=/etc/ledbrick-ltable.json
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target